- content_for(:html_title) {'会員情報入力'}
= render partial: 'signup-header1'
.signup-container
  %h2.signup-header 会員情報入力
  .registration-form

    = form_for @user, url: registration_signup_index_path,method: :post do |f|
      .signup-form-container.registration-form__first-container
        .signup-form-container__title
          = label :nickname, 'ニックネーム', class: 'signup-label'
        = f.text_field :nickname, placeholder: '例）メルカリ太郎'
      .signup-form-container
        .signup-form-container__title
          = label :email, 'メールアドレス'
        = f.text_field :email, placeholder: 'PC・携帯どちらでも可'
      .signup-form-container
        .signup-form-container__title
          = label :password, 'パスワード'
        = f.password_field :password,placeholder: '７文字以上'
      .signup-form-container
        .signup-form-container__title
          = label :password_confirmation, 'パスワード（確認）'
        = f.password_field :password_confirmation, placeholder: '7文字以上'

      //今回はprofileにも同時に値を送りたいのでfields_forを使っています。
      = fields_for @profile,url: registration_signup_index_path,method: :post do |o|
        .signup-form-container
          .signup-form-container__title
            = label :name, 'お名前(全角)', class: 'signup-label'
          .signup-form-container__name
            = o.text_field :family_name, placeholder: '例）山田'
            = o.text_field :personal_name, placeholder: '例）彩'
      ~~~項目が多いので中略~~~
      = f.submit '次へ進む'